spring:
  application:
    name: VotaClaro
  datasource:
    url: jdbc:mysql://localhost:3307/votoClaro
    username: root
    password: admin
  jpa:
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: update
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB